<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Candidate</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:replace="layout :: nav-admin"></nav>
<div class="container main-content form">
    <div class="row">
        <form action="#" th:action="@{/interviewresult/save}" th:object="${interviewresult}"
              method="POST">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label>Start</label>
                <input type="datetime" class="form-control"
                       th:field="*{start}" />
            </div>
            <div class="form-group">
                <label>End</label>
                <input type="datetime" class="form-control"
                       th:field="*{end}" />
            </div>
            <div class="form-group">
                <label>Result </label>
                <input type="text" class="form-control"
                       th:field="*{result}" />
            </div>
            <div class="form-group">
                <label>PositionID</label>
                <select  name="positionId" class="form-control" th:name="position.id">
                    <option
                            th:each="position : ${positions}"
                            th:value="${position.id}"
                            th:text="${position.code}"
                            th:selected="${position.equals(interviewresult.position)}"
                    ></option>

                </select>
            </div>
            <div class="form-group">
                <label>CandidateID</label>
                <select  name="positionId" class="form-control" th:name="candidate.id">
                    <option
                            th:each="candidate : ${candidates}"
                            th:value="${candidate.id}"
                            th:text="${candidate.name}"
                            th:selected="${candidate.equals(interviewresult.candidate)}"
                    ></option>

                </select>
            </div>
            <div class="form-group">
                <label>InterviewerID</label>
                <select  name="positionId" class="form-control" th:name="interviewer.id">
                    <option
                            th:each="interviewer : ${interviewers}"
                            th:value="${interviewer.id}"
                            th:text="${interviewer.getEmail()}"
                            th:selected="${interviewer.equals(interviewresult.interviewer)}"
                    ></option>

                </select>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div><!-- /.container -->
</body>
</html>